@import url("https://fonts.googleapis.com/css?family=Caveat");
* {
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("wallpaper.jpg"); 
    background-size: cover;
}

nav {
    height: 5.5vh;
    background-color: rgba(238, 238, 238, 0.7);
}

nav ul li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 5.5vh;
    width: 100px;
    color: black;
    text-align: center;
    font-family: Arial;
}

nav ul li:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

nav ul {
    float: right;
    margin-right: 5.5vh;
}

.title {
    width: 100vw;
    height: 30vh;
    text-align: center;
    color: white;
    margin: auto;
    font-family: Caveat; 
    margin-top: 30vh;
    text-shadow: 3px 2px 3px rgb(7, 50, 131);
}

.first {
    font-size: 8rem;
    font-weight: bold;
}

.second {
    font-size: 5rem;
    font-style: italic;
}